/***********************************************************************
						Global Styles
***********************************************************************/

/*@font-face {
	font-family: 'Helvetica Neue LT Std 85 Heavy';
	src:url('../fonts/helvetica-neue-heavy.otf') format("opentype");
}

@font-face {
	font-family: 'helveticaNeueBold', helvetica, sans-serif;
	src:url('../fonts/helvetica-neue-bold.otf') format("opentype");
}

@font-face {
	font-family: 'helveticaNeueRoman', helvetica, sans-serif;
	src:url('../fonts/helvetica-neue-roman.otf') format("opentype");
}*/

.container {
	padding-right:0;
	padding-left:0;
	width:1024px;
}

.main-container {
	width:1024px;
	height:469px;
	margin-top:5px;
}

.column {
	padding:0;
	float:left;
	min-height:1px;
	position: relative;
}

.column-left-container {
	width:282px;
}

.column-right-container {
	width:742px;
}

.column-left-inner {
	width:514px;
	background-color: #F4F4F3;
	height:469px;
	padding:20px 20px 0 20px;
	margin-left:10px;
	overflow-y: scroll;
}

.column-right-inner {
	width:208px;
	float:right;
}

/***********************************************************************
						Header
***********************************************************************/

.status-bar {
	width:100%;
	height:20px;
	background-color:#ccc;
}

header {
	width:100%;
	height:190px;
}

header .company-logo {
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom:25px;
}

.invisible-close {
	position: absolute;
	top:0;
	right:0;
	width:30px;
	height:30px;
}

.launch-buttons {
	margin-top:135px;
	position: relative;
	right:30px;
}

/***********************************************************************
						Main
***********************************************************************/
main {
	width:1024px;
}

.col-md-3, .col-md-4 {
	padding-left:0;
	padding-right:0px;
}

.nav-stacked > li + li {
	margin-top: 5px;
}

.thumbnail-image {
	margin-top: 12px;
	position: relative;
  	left: 35px;
  	width:90px;
  	height:auto;
}

.nav > a {
	text-transform: uppercase;
	padding: 0 0;
}

.nav-pills > a {
	border-radius: 0px;
	color:#fff;
}

.nav-menu-item {
	height:113px;
	margin-bottom:5px;
	margin-left:0px;
}

/*****************************************************************
			      SUB PAGES
******************************************************************/
.col-md-9 {
	padding-left:15px;
	padding-right:0;
}

.landing-page {
	padding-right:0;
	height:469px;
	width:auto;
	float:right;
}

.main-content {
	height:467px;
	background-color:#F4F4F3;
	overflow: hidden;
	overflow-y:scroll;
}

.scientific-experience {
	background-color:#AE9FBD;
}

.patient-counseling {
	background-color:#736A7F;
}

.clinical-resources {
	background-color:#8C2680;
}

.cbr-partnership {
	background-color:#422B76;
}

.inactive {
	background-color:#BCBCBC;
}

.landing-page.ng-enter {
	-webkit-animation: fadeInRight 1.0s;
	-moz-animation: fadeInRight 1.0s;
	-o-animation: fadeInRight 1.0s;
	animation: fadeInRight 1.0s;
}

.scientific-experience.ng-enter,
 {
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.patient-counseling.ng-enter {
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.clinical-resources.ng-enter {
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.cbr-partnership.ng-enter {
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.main-container {
	height:469px; /*same height as .row-main */
}

.folder-name-container {
	float:right;
	width:135px;
}

.folder-name {
	text-transform: uppercase;
	font-size:1em;
	word-spacing: 400px;
	float:right;
	margin-top: 40px;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
}

.purple-divider {
	height:7px;
	width:100%;
	background-color:#8D2680;
	margin-top:3px;
}

.main-content-list {
	list-style-type: none;
	padding:0;
	padding-top:25px;
	color:#3A2769;
	font-weight:bold;
	max-height:407px;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.main-content-list a {
	color:#3A2769;
	font-family: 'helveticaNeueBold', helvetica, sans-serif;
	text-decoration: none;
}

.main-content-list li {
	background-color:#E1D9E9;
	margin-bottom:5px;
	padding:8px 0 6px 15px;
	font-size:1.1em;
	font-family: Helvetica;
	font-weight: 300;
}

.side-img {
	height:469px; 
}

.folder-title {
	color:#3A2769;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

/*****************************************************************
			      Footer
******************************************************************/
footer {
	position: absolute;
	bottom: 0px;
}
